@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: currentColor;
  text-decoration: none;
  list-style: none;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'Inter', sans-serif;
}

li {
  list-style: none;
}

nav {
  padding: 1rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header ul {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

footer {
  width: 100%;
  height: 10vh;
  padding: 1rem;
  background-color: bisque;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

main {
  width: 100%;
  display: flex;
}

.popup {
  margin: 2rem 1rem;
  padding: 3rem 0.5rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  border-radius: 30px;
  border: 1px solid #b4b4b4;
}

.meal-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  width: 80%;
}

.meal-img {
  display: flex;
  width: 100%;
  height: 300px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.comments {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.meal-name {
  font-size: 24px;
  font-weight: 800;
  padding: 1rem;
  text-align: center;
}

.instructions-heading {
  font-size: 22px;
  margin-top: 4rem;
}

.meal-instructions {
  font-size: 18px;
  padding: 0;
  margin: 0;
}