@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: currentColor;
  text-decoration: none;
  list-style: none;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'Inter', sans-serif;
}

li {
  list-style: none;
}

header {
  width: 85%;
  margin: auto;
}

nav {
  padding: 1rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  height: 120px;
  width: 210px;
}

header ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 103px;
  height: 48px;
  font-size: 22px;
  font-weight: 600;
  cursor: pointer;
}

ul li:hover {
  background: #e4200e;
  color: #fff;
  cursor: pointer;
}

.meals {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 80%;
}

.meal {
  width: 300px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.meal img {
  height: 300px;
  width: 250px;
}

.likes {
  display: flex;
  align-items: center;
  gap: 65px;
}

.btn-like {
  height: 30px;
  font-size: 22px;
  font-weight: 400;
  border: none;
  background-color: #fff;
  cursor: pointer;
}

.btn-cmt {
  width: 100px;
  height: 35px;
  cursor: pointer;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background: #078e07;
  color: #fff;
}

footer {
  width: 100%;
  height: 10vh;
  padding: 1rem;
  background-color: bisque;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

main {
  width: 100%;
  display: flex;
}

.popup {
  margin-top: 2rem;
  margin-bottom: 4rem;
  margin-left: 2rem;
  padding: 4rem 0.5rem;
  display: flex;
  position: fixed;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #fff;
  z-index: 2;
  left: 0;
  top: 0;
  bottom: 0;
  flex-direction: column;
  width: 90%;

  /* height: 100vh; */
  align-items: center;
  border-radius: 30px;
  border: 1px solid #b4b4b4;
}

.popup::-webkit-scrollbar {
  display: none;
}

.close-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.close {
  padding: 10px;
}

.meal-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  width: 95%;
}

.meal-img {
  display: flex;
  width: 70%;
  height: 300px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.comments {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  width: 95%;
}

.meal-name {
  font-size: 24px;
  font-weight: 800;
  padding: 1rem;
  text-align: center;
}

.instructions-heading {
  font-size: 22px;
  margin-top: 1rem;
}

.meal-instructions {
  font-size: 18px;
  padding: 0;
  margin: 0;
}

@media only screen and (min-width: 1024px) {
  .popup {
    margin: 4rem;
    padding: 3rem 2rem;
  }
}

@media only screen and (min-width: 1240px) {
  .popup {
    margin: 6rem;
    padding: 4rem 2rem;
  }

  .meal-img {
    height: 350px;
  }
}

@media only screen and (min-width: 1440px) {
  .popup {
    margin-top: 2rem;
    margin-bottom: 4rem;
    padding: 5rem 2rem;
  }

  .meal-img {
    height: 400px;
  }

  .meal-name {
    font-size: 26px;
  }

  .meal-instructions {
    font-size: 20px;
  }
}

#comment-form {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 100%;
}

input[type=text] {
  padding: 12px;
  width: 100%;
  border: 1px solid #383838;
  border-radius: 12px;
  margin: 25px 0;
}

textarea {
  width: 100%;
  height: 140px;
  border: 1px solid #383838;
  border-radius: 12px;
  padding: 12px;
}

#comment-btn {
  width: 100px;
  height: 5vh;
  border-radius: 12px;
  padding: 10px;
  text-align: center;
  margin: 25px 0;
  font-size: 15px;
  font-weight: 500;
}

@media only screen and (min-width: 790px) {
  #comment-form {
    width: 95%;
    align-items: center;
  }

  input[type=text] {
    padding: 14px;
    width: 600px;
  }

  textarea {
    width: 600px;
    height: 180px;
  }
}

@media only screen and (min-width: 1190px) {
  input[type=text] {
    padding: 14px;
    width: 700px;
  }

  textarea {
    width: 700px;
    height: 200px;
  }

  #comment-btn {
    width: 120px;
    height: 6vh;
    font-size: 18px;
  }
}

.comments-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.fetched-comments-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: left;
  margin: 0;
  padding: 0;
}

.fetched-comment {
  font-size: 16px;
  text-align: left;
  font-weight: 400;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 1rem;
  justify-content: flex-start;
}

#comment-name {
  font-weight: 600;
}

.no-comments-message {
  font-weight: 600;
  font-style: italic;
  padding: 15px;
}

@media only screen and (min-width: 790px) {
  .no-comments-message {
    padding: 45px;
  }
}

@media only screen and (min-width: 1190px) {
  .no-comments-message {
    padding: 65px;
  }
}
